## Analyse du nombre de recrutements par ROME / NAF / Taille
- Via LBB, on dispose déjà d'une liste du nombre de recrutements ROME par NAF
- Cette liste, et les nombres associés, doit être nuancée: il favorise les grands secteurs et entreprises au détriments des plus petits
- Ultérieurement d'autres nuances peuvent être apportées: scinder par code OGR, établir un modèle par territoire, ...

In [29]:
## Chargement des labels naf, rome, ogr
from IPython.display import display, HTML
import pandas as pd

# NAF
naf_labels = pd.read_csv('../ressources/list_NAF_LBB.csv', sep='|', encoding="utf-8")
naf_labels.columns = ['nafdot', 'naf', 'label']
print(f"Obtained {len(naf_labels)} NAF labels")
display(HTML(naf_labels.head(5).to_html()))

# ROME
rome_labels = pd.read_csv('../ressources/liste_rome_LBB.csv', sep=',', encoding="utf-8")
rome_labels.columns = ['rome', 'rome_1', 'rome_2', 'rome_3', 'label', 'slug']
print(f"Obtained {len(rome_labels)} ROME labels")
display(HTML(rome_labels.head(5).to_html()))

# OGR
ogr_labels = pd.read_csv('../ressources/list_OGR_LBB.csv', sep=',', encoding="utf-8")
ogr_labels.columns = ['code', 'rome_1', 'rome_2', 'rome_3', 'label', 'rome']
print(f"Obtained {len(ogr_labels)} OGR labels")
display(HTML(ogr_labels.head(5).to_html()))

Obtained 732 NAF labels

Obtained 531 ROME labels

Obtained 10948 OGR labels

In [35]:
## Chargement des statistiques d'emploi
emploi_rome_naf = pd.read_csv('../ressources/contrats_30j.csv', sep=',', encoding="utf-8")[['ROME', 'APE700', 'nb_embauches']]
emploi_rome_naf.columns = ['rome', 'naf', 'embauches']
emploi_rome_naf

         rome    naf  embauches
0       A1101  0111Z        161
1       A1101  0113Z         47
2       A1101  0114Z         63
3       A1101  0119Z          2
4       A1101  0121Z        175
...       ...    ...        ...
168017  N4403  8292Z          3
168018  N4403  8559A          1
168019  N4403  8810A          1
168020  N4403  8899B          1
168021  N4403  9319Z          1

[168022 rows x 3 columns]