# NAF / ROME Link Factory
* Utiliser les diverses données pour calculer une table de correspondance rome / naf

## Lancement
Les cellules peuvent être lancées automatiquement ( _run all cells_ ), l'exécution s'arrêtera automatiquement après avoir crée le fichier output: ../outputs/andi_rome2naf_|date|.csv


## Autres idées non exploitées:
- pousser certains domaines naf manuellement reliés aux romes
- exploiter les codes OGR (données insuffisantes)
- obtenir des données plus larges, sur une pluse grande durée (cf DPAE)
- intégrer nombre d'entreprises et leur taille moyenne (sur tout le territoire) (cf. sirene/insee)
- plus dynamique: intégrer variance, écart type, ...
- ...

## A vérifier:
- Anomalie des fromagers: NAF-1051C et ROME-A1412, peu de recrutement mais ils y vont en masse

### Obtention des labels et autres données

In [30]:
## Chargement des labels naf, rome, ogr
from IPython.display import display, HTML
import pandas as pd
import numpy as np

# NAF
naf_labels = pd.read_csv('/ressources/list_NAF_LBB.csv', sep='|', encoding="utf-8")
naf_labels.columns = ['nafdot', 'naf', 'label']
print(f"Obtained {len(naf_labels)} NAF labels")
# display(HTML(naf_labels.head(5).to_html()))

# ROME
rome_labels = pd.read_csv('/ressources/liste_rome_LBB.csv', sep=',', encoding="utf-8")
rome_labels.columns = ['rome', 'rome_1', 'rome_2', 'rome_3', 'label', 'slug']
print(f"Obtained {len(rome_labels)} ROME labels")
# display(HTML(rome_labels.head(5).to_html()))

# Chargement des statistiques d'emploi
emploi_rome_naf = pd.read_csv('/ressources/contrats_30j.csv', sep=',', encoding="utf-8")[['ROME', 'APE700', 'nb_embauches']]
emploi_rome_naf.columns = ['rome', 'naf', 'embauches']
# display(HTML(emploi_rome_naf.head(5).to_html()))
        
    
# Calcul des ratios
naf_embauches = emploi_rome_naf[['naf', 'embauches']].groupby('naf').agg(
    embauches_total_n=pd.NamedAgg(column='embauches', aggfunc=sum)
)
rome_embauches = emploi_rome_naf[['rome', 'embauches']].groupby('rome').agg(
    embauches_total_r=pd.NamedAgg(column='embauches', aggfunc=sum)
)


naf_i = (
emploi_rome_naf
    .merge(naf_embauches, on='naf')
    .merge(rome_embauches, on='rome')
)
naf_i['ratio_naf'] = ( naf_i.embauches / naf_i.embauches_total_n ) * 100
naf_i['ratio_rome'] = ( naf_i.embauches / naf_i.embauches_total_r ) * 100

naf_i = naf_i.sort_values(by=['ratio_naf'], ascending=False)
naf_i.columns

Obtained 732 NAF labels
Obtained 531 ROME labels

Index(['rome', 'naf', 'embauches', 'embauches_total_n', 'embauches_total_r',
       'ratio_naf', 'ratio_rome'],
      dtype='object')

### Fonction de calcul du tableau de correspondance ROME vers NAF

In [106]:
# Rome=>Naf in function form
# Deprecated
def rome2nafz_v1(rome, df_in, output_size=15):
    """
    Generate naf list using input rome code and specific dataframe:
    ['rome', 'naf', 'embauches', 'embauches_total_n', 'embauches_total_r', 'ratio_naf', 'ratio_rome']
    
    - First a table is generated listing the naf codes who employ the highest percentage
    (from their total recruitments) of the specified rome code, a score is specified with
    a binning technique
    - Then the NAF codes who also appear in the list of where the specified rome code tends
    to work at are boosted
    - Finaly the result is filtered keeping only those with a score of 1 or higher, and from those
    only the first 15 are kept (can be changed by parameter)
    """
    df_nf = (
    df_in.loc[df_in.rome == rome]
         .sort_values(by=['ratio_naf'], ascending=False)
    )
    df_nf['cumsum'] =  100 - df_nf['ratio_rome'].cumsum()
    df_nf = df_nf.loc[df_nf['cumsum'] > 25]
    df_nf['score'] = pd.to_numeric(pd.cut(
        df_nf['ratio_naf'],
        bins=[1, 2, 5, 10, 50, 100],
        labels=[0, 1, 2, 3, 4]
    ))
    df_nf['score_rome'] = pd.to_numeric(pd.cut(
        df_nf['ratio_rome'],
        bins=[1, 2, 5, 10, 50, 100],
        labels=[0, 1, 2, 3, 4]
    ))
    
    df_rs = (
    df_in.loc[naf_i.rome == rome ]
         .sort_values(by=['ratio_rome'], ascending=False)
    )
    df_rs['cumsum'] =  100 - df_rs['ratio_rome'].cumsum()
    df_rs = df_rs.head(10)
     
    df_nf.loc[df_nf['naf'].isin(df_rs['naf']), 'score'] += 1
    df_nf = df_nf.loc[df_nf['score'].ge(1)]

    
    return (
        df_nf.sort_values(by=['score'], ascending=False)
             .head(output_size)
    )[['rome', 'naf', 'score']]

In [134]:
# Rome=>Naf in function form
# Latest
def rome2nafz_v2(rome, df_in, output_size=15):
    """
    Generate naf list using input rome code and specific dataframe:
    ['rome', 'naf', 'embauches', 'embauches_total_n', 'embauches_total_r', 'ratio_naf', 'ratio_rome']
    
    - First a table is generated listing the naf codes who employ the highest percentage
    (from their total recruitments) of the specified rome code, a score is specified with
    a binning technique
    - Then the NAF codes who also appear in the list of where the specified rome code tends
    to work at are boosted
    - Finaly the result is filtered keeping only those with a score of 1 or higher, and from those
    only the first 15 are kept (can be changed by parameter)
    """
    df_nf = (
    df_in.loc[df_in.rome == rome]
         .sort_values(by=['ratio_naf'], ascending=False)
    )
    df_nf['cumsum'] =  100 - df_nf['ratio_rome'].cumsum()
    #df_nf = df_nf.loc[df_nf['cumsum'] > 25]
    df_nf['score_naf'] = pd.to_numeric(pd.cut(
        df_nf['ratio_naf'],
        bins=[0, 2, 5, 10, 50, 100],
        labels=[0, 1, 2, 3, 4]
    ))
    df_nf['score_rome'] = pd.to_numeric(pd.cut(
        df_nf['ratio_rome'],
        bins=[0, 2, 5, 10, 50, 100],
        labels=[0, 1, 2, 3, 4]
    ))
    
    df_nf = df_nf.loc[df_nf['score_naf'].ge(1) | df_nf['score_rome'].ge(1)]
    df_nf['score'] = df_nf['score_naf'] * 4 + df_nf['score_rome']
    df_nf['score'] = pd.cut(
        df_nf['score_naf'] * 3 + df_nf['score_rome'],
        bins=5,
        labels=[1,2,3,4,5]
    )
    
    return (
        df_nf.sort_values(by=['score'], ascending=False)
             .head(output_size)
    )[['rome', 'naf', 'score']]

### Vérification de la fonction

In [130]:
# Function V1
ROME = 'D1101'
print(f"Table ROME=>NAF pour \"{rome_labels.loc[(rome_labels['rome'] == ROME, 'label')].iloc[0]}\"")
df  = rome2nafz_v1(ROME, naf_i)
df.merge(naf_labels, on='naf')[['naf', 'label','score']]
assert(len(df) == 15)
df.head(5)

Table ROME=>NAF pour "Boucherie"

        rome    naf  score
12720  D1101  4722Z    4.0
12883  D1101  1013B    3.0
12562  D1101  1011Z    3.0
12696  D1101  4632A    3.0
12716  D1101  4711D    2.0

In [136]:
# Function Test
df  = rome2nafz_v2(ROME, naf_i)
df.merge(naf_labels, on='naf')[['naf', 'label','score']]
assert(len(df) == 15)
df.head(5)

        rome    naf score
12720  D1101  4722Z     5
12562  D1101  1011Z     4
12696  D1101  4632A     4
12883  D1101  1013B     3
12716  D1101  4711D     3

### Calcul de pour l'ensemble des codes ROME

In [137]:
result_table = {}
for index, row in rome_labels.iterrows():
    result_table[row.rome] = rome2nafz_v2(str(row.rome), naf_i).to_dict('r')
    print(f"row {index} : {len(result_table[row.rome])} Naf codes for Rome {row.rome} \"{rome_labels.loc[(rome_labels['rome'] == row.rome, 'label')].iloc[0]}\" ")

row 0 : 15 Naf codes for Rome A1101 "Conduite d'engins agricoles et forestiers"
row 1 : 11 Naf codes for Rome A1201 "Bûcheronnage et élagage"
row 2 : 7 Naf codes for Rome A1202 "Entretien des espaces naturels"
row 3 : 15 Naf codes for Rome A1203 "Entretien des espaces verts"
row 4 : 8 Naf codes for Rome A1204 "Protection du patrimoine naturel"
row 5 : 8 Naf codes for Rome A1205 "Sylviculture"
row 6 : 13 Naf codes for Rome A1301 "Conseil et assistance technique en agriculture"
row 7 : 9 Naf codes for Rome A1302 "Contrôle et diagnostic technique en agriculture"
row 8 : 15 Naf codes for Rome A1303 "Ingénierie en agriculture et environnement naturel"
row 9 : 15 Naf codes for Rome A1401 "Aide agricole de production fruitière ou viticole"
row 10 : 15 Naf codes for Rome A1402 "Aide agricole de production légumière ou végétale"
row 11 : 15 Naf codes for Rome A1403 "Aide d'élevage agricole et aquacole"
row 12 : 11 Naf codes for Rome A1404 "Aquaculture"
row 13 : 13 Naf codes for Rome A1405 "Arboriculture et viticulture"
row 14 : 15 Naf codes for Rome A1406 "Encadrement équipage de la pêche"
row 15 : 15 Naf codes for Rome A1407 "Élevage bovin ou équin"
row 16 : 15 Naf codes for Rome A1408 "Élevage d'animaux sauvages ou de compagnie"
row 17 : 6 Naf codes for Rome A1409 "Élevage de lapins et volailles"
row 18 : 10 Naf codes for Rome A1410 "Élevage ovin ou caprin"
row 19 : 7 Naf codes for Rome A1411 "Élevage porcin"
row 20 : 7 Naf codes for Rome A1412 "Fabrication et affinage de fromages"
row 21 : 11 Naf codes for Rome A1413 "Fermentation de boissons alcoolisées"
row 22 : 15 Naf codes for Rome A1414 "Horticulture et maraîchage"
row 23 : 10 Naf codes for Rome A1415 "Equipage de la pêche"
row 24 : 15 Naf codes for Rome A1416 "Polyculture, élevage"
row 25 : 15 Naf codes for Rome A1417 "Saliculture"
row 26 : 10 Naf codes for Rome A1501 "Aide aux soins animaux"
row 27 : 4 Naf codes for Rome A1502 "Podologie animale"
row 28 : 11 Naf codes for Rome A1503 "Toilettage des animaux"
row 29 : 2 Naf codes for Rome A1504 "Santé animale"
row 30 : 8 Naf codes for Rome B1101 "Création en arts plastiques"
row 31 : 9 Naf codes for Rome B1201 "Réalisation d'objets décoratifs et utilitaires en céramique et matériaux de synthèse"
row 32 : 7 Naf codes for Rome B1301 "Décoration d'espaces de vente et d'exposition"
row 33 : 7 Naf codes for Rome B1302 "Décoration d'objets d'art et artisanaux"
row 34 : 12 Naf codes for Rome B1303 "Gravure - ciselure"
row 35 : 15 Naf codes for Rome B1401 "Réalisation d'objets en lianes, fibres et brins végétaux"
row 36 : 11 Naf codes for Rome B1402 "Reliure et restauration de livres et archives"
row 37 : 13 Naf codes for Rome B1501 "Fabrication et réparation d'instruments de musique"
row 38 : 6 Naf codes for Rome B1601 "Métallerie d'art"
row 39 : 8 Naf codes for Rome B1602 "Réalisation d'objets artistiques et fonctionnels en verre"
row 40 : 8 Naf codes for Rome B1603 "Réalisation d'ouvrages en bijouterie, joaillerie et orfèvrerie"
row 41 : 11 Naf codes for Rome B1604 "Réparation - montage en systèmes horlogers"
row 42 : 6 Naf codes for Rome B1701 "Conservation et reconstitution d'espèces animales"
row 43 : 15 Naf codes for Rome B1801 "Réalisation d'articles de chapellerie"
row 44 : 6 Naf codes for Rome B1802 "Réalisation d'articles en cuir et matériaux souples (hors vêtement)"
row 45 : 15 Naf codes for Rome B1803 "Réalisation de vêtements sur mesure ou en petite série"
row 46 : 14 Naf codes for Rome B1804 "Réalisation d'ouvrages d'art en fils"
row 47 : 14 Naf codes for Rome B1805 "Stylisme"
row 48 : 11 Naf codes for Rome B1806 "Tapisserie - décoration en ameublement"
row 49 : 10 Naf codes for Rome C1101 "Conception - développement produits d'assurances"
row 50 : 12 Naf codes for Rome C1102 "Conseil clientèle en assurances"
row 51 : 7 Naf codes for Rome C1103 "Courtage en assurances"
row 52 : 5 Naf codes for Rome C1104 "Direction d'exploitation en assurances"
row 53 : 8 Naf codes for Rome C1105 "Études actuarielles en assurances"
row 54 : 9 Naf codes for Rome C1106 "Expertise risques en assurances"
row 55 : 6 Naf codes for Rome C1107 "Indemnisations en assurances"
row 56 : 7 Naf codes for Rome C1108 "Management de groupe et de service en assurances"
row 57 : 13 Naf codes for Rome C1109 "Rédaction et gestion en assurances"
row 58 : 3 Naf codes for Rome C1110 "Souscription d'assurances"
row 59 : 9 Naf codes for Rome C1201 "Accueil et services bancaires"
row 60 : 10 Naf codes for Rome C1202 "Analyse de crédits et risques bancaires"
row 61 : 6 Naf codes for Rome C1203 "Relation clients banque/finance"
row 62 : 9 Naf codes for Rome C1204 "Conception et expertise produits bancaires et financiers"
row 63 : 7 Naf codes for Rome C1205 "Conseil en gestion de patrimoine financier"
row 64 : 13 Naf codes for Rome C1206 "Gestion de clientèle bancaire"
row 65 : 10 Naf codes for Rome C1207 "Management en exploitation bancaire"
row 66 : 11 Naf codes for Rome C1301 "Front office marchés financiers"
row 67 : 9 Naf codes for Rome C1302 "Gestion back et middle-office marchés financiers"
row 68 : 8 Naf codes for Rome C1303 "Gestion de portefeuilles sur les marchés financiers"
row 69 : 11 Naf codes for Rome C1401 "Gestion en banque et assurance"
row 70 : 5 Naf codes for Rome C1501 "Gérance immobilière"
row 71 : 6 Naf codes for Rome C1502 "Gestion locative immobilière"
row 72 : 12 Naf codes for Rome C1503 "Management de projet immobilier"
row 73 : 14 Naf codes for Rome C1504 "Transaction immobilière"
row 74 : 15 Naf codes for Rome D1101 "Boucherie"
row 75 : 15 Naf codes for Rome D1102 "Boulangerie - viennoiserie"
row 76 : 10 Naf codes for Rome D1103 "Charcuterie - traiteur"
row 77 : 15 Naf codes for Rome D1104 "Pâtisserie, confiserie, chocolaterie et glacerie"
row 78 : 7 Naf codes for Rome D1105 "Poissonnerie"
row 79 : 15 Naf codes for Rome D1106 "Vente en alimentation"
row 80 : 8 Naf codes for Rome D1107 "Vente en gros de produits frais"
row 81 : 11 Naf codes for Rome D1201 "Achat vente d'objets d'art, anciens ou d'occasion"
row 82 : 8 Naf codes for Rome D1202 "Coiffure"
row 83 : 3 Naf codes for Rome D1203 "Hydrothérapie"
row 84 : 6 Naf codes for Rome D1204 "Location de véhicules ou de matériel de loisirs"
row 85 : 11 Naf codes for Rome D1205 "Nettoyage d'articles textiles ou cuirs"
row 86 : 7 Naf codes for Rome D1206 "Réparation d'articles en cuir et matériaux souples"
row 87 : 11 Naf codes for Rome D1207 "Retouches en habillement"
row 88 : 15 Naf codes for Rome D1208 "Soins esthétiques et corporels"
row 89 : 11 Naf codes for Rome D1209 "Vente de végétaux"
row 90 : 9 Naf codes for Rome D1210 "Vente en animalerie"
row 91 : 15 Naf codes for Rome D1211 "Vente en articles de sport et loisirs"
row 92 : 15 Naf codes for Rome D1212 "Vente en décoration et équipement du foyer"
row 93 : 10 Naf codes for Rome D1213 "Vente en gros de matériel et équipement"
row 94 : 15 Naf codes for Rome D1214 "Vente en habillement et accessoires de la personne"
row 95 : 15 Naf codes for Rome D1301 "Management de magasin de détail"
row 96 : 15 Naf codes for Rome D1401 "Assistanat commercial"
row 97 : 15 Naf codes for Rome D1402 "Relation commerciale grands comptes et entreprises"
row 98 : 15 Naf codes for Rome D1403 "Relation commerciale auprès de particuliers"
row 99 : 7 Naf codes for Rome D1404 "Relation commerciale en vente de véhicules"
row 100 : 8 Naf codes for Rome D1405 "Conseil en information médicale"
row 101 : 13 Naf codes for Rome D1406 "Management en force de vente"
row 102 : 15 Naf codes for Rome D1407 "Relation technico-commerciale"
row 103 : 15 Naf codes for Rome D1408 "Téléconseil et télévente"
row 104 : 7 Naf codes for Rome D1501 "Animation de vente"
row 105 : 5 Naf codes for Rome D1502 "Management/gestion de rayon produits alimentaires"
row 106 : 7 Naf codes for Rome D1503 "Management/gestion de rayon produits non alimentaires"
row 107 : 6 Naf codes for Rome D1504 "Direction de magasin de grande distribution"
row 108 : 15 Naf codes for Rome D1505 "Personnel de caisse"
row 109 : 8 Naf codes for Rome D1506 "Marchandisage"
row 110 : 15 Naf codes for Rome D1507 "Mise en rayon libre-service"

row 111 : 9 Naf codes for Rome D1508 "Encadrement du personnel de caisses"
row 112 : 6 Naf codes for Rome D1509 "Management de département en grande distribution"
row 113 : 9 Naf codes for Rome E1101 "Animation de site multimédia"
row 114 : 10 Naf codes for Rome E1102 "Ecriture d'ouvrages, de livres"
row 115 : 15 Naf codes for Rome E1103 "Communication"
row 116 : 13 Naf codes for Rome E1104 "Conception de contenus multimédias"
row 117 : 9 Naf codes for Rome E1105 "Coordination d'édition"
row 118 : 15 Naf codes for Rome E1106 "Journalisme et information média"
row 119 : 14 Naf codes for Rome E1107 "Organisation d'évènementiel"
row 120 : 11 Naf codes for Rome E1108 "Traduction, interprétariat"
row 121 : 9 Naf codes for Rome E1201 "Photographie"
row 122 : 8 Naf codes for Rome E1202 "Production en laboratoire cinématographique"
row 123 : 8 Naf codes for Rome E1203 "Production en laboratoire photographique"
row 124 : 6 Naf codes for Rome E1204 "Projection cinéma"
row 125 : 15 Naf codes for Rome E1205 "Réalisation de contenus multimédias"
row 126 : 13 Naf codes for Rome E1301 "Conduite de machines d'impression"
row 127 : 4 Naf codes for Rome E1302 "Conduite de machines de façonnage routage"
row 128 : 6 Naf codes for Rome E1303 "Encadrement des industries graphiques"
row 129 : 6 Naf codes for Rome E1304 "Façonnage et routage"
row 130 : 10 Naf codes for Rome E1305 "Préparation et correction en édition et presse"
row 131 : 9 Naf codes for Rome E1306 "Prépresse"
row 132 : 6 Naf codes for Rome E1307 "Reprographie"
row 133 : 8 Naf codes for Rome E1308 "Intervention technique en industrie graphique"
row 134 : 10 Naf codes for Rome E1401 "Développement et promotion publicitaire"
row 135 : 8 Naf codes for Rome E1402 "Élaboration de plan média"
row 136 : 6 Naf codes for Rome F1101 "Architecture du BTP"
row 137 : 14 Naf codes for Rome F1102 "Conception - aménagement d'espaces intérieurs"
row 138 : 3 Naf codes for Rome F1103 "Contrôle et diagnostic technique du bâtiment"
row 139 : 14 Naf codes for Rome F1104 "Dessin BTP"
row 140 : 11 Naf codes for Rome F1105 "Études géologiques"
row 141 : 15 Naf codes for Rome F1106 "Ingénierie et études du BTP"
row 142 : 7 Naf codes for Rome F1107 "Mesures topographiques"
row 143 : 11 Naf codes for Rome F1108 "Métré de la construction"
row 144 : 15 Naf codes for Rome F1201 "Conduite de travaux du BTP"
row 145 : 15 Naf codes for Rome F1202 "Direction de chantier du BTP"
row 146 : 8 Naf codes for Rome F1203 "Direction et ingénierie d'exploitation de gisements et de carrières"
row 147 : 8 Naf codes for Rome F1204 "Sécurité et protection santé du BTP"
row 148 : 5 Naf codes for Rome F1301 "Conduite de grue"
row 149 : 15 Naf codes for Rome F1302 "Conduite d'engins de terrassement et de carrière"
row 150 : 6 Naf codes for Rome F1401 "Extraction liquide et gazeuse"
row 151 : 15 Naf codes for Rome F1402 "Extraction solide"
row 152 : 7 Naf codes for Rome F1501 "Montage de structures et de charpentes bois"
row 153 : 11 Naf codes for Rome F1502 "Montage de structures métalliques"
row 154 : 10 Naf codes for Rome F1503 "Réalisation - installation d'ossatures bois"
row 155 : 7 Naf codes for Rome F1601 "Application et décoration en plâtre, stuc et staff"
row 156 : 15 Naf codes for Rome F1602 "Électricité bâtiment"
row 157 : 15 Naf codes for Rome F1603 "Installation d'équipements sanitaires et thermiques"
row 158 : 15 Naf codes for Rome F1604 "Montage d'agencements"
row 159 : 5 Naf codes for Rome F1605 "Montage de réseaux électriques et télécoms"
row 160 : 15 Naf codes for Rome F1606 "Peinture en bâtiment"
row 161 : 15 Naf codes for Rome F1607 "Pose de fermetures menuisées"
row 162 : 8 Naf codes for Rome F1608 "Pose de revêtements rigides"
row 163 : 4 Naf codes for Rome F1609 "Pose de revêtements souples"
row 164 : 9 Naf codes for Rome F1610 "Pose et restauration de couvertures"
row 165 : 11 Naf codes for Rome F1611 "Réalisation et restauration de façades"
row 166 : 5 Naf codes for Rome F1612 "Taille et décoration de pierres"
row 167 : 6 Naf codes for Rome F1613 "Travaux d'étanchéité et d'isolation"
row 168 : 15 Naf codes for Rome F1701 "Construction en béton"
row 169 : 12 Naf codes for Rome F1702 "Construction de routes et voies"
row 170 : 15 Naf codes for Rome F1703 "Maçonnerie"
row 171 : 15 Naf codes for Rome F1704 "Préparation du gros oeuvre et des travaux publics"
row 172 : 10 Naf codes for Rome F1705 "Pose de canalisations"
row 173 : 4 Naf codes for Rome F1706 "Préfabrication en béton industriel"
row 174 : 14 Naf codes for Rome G1101 "Accueil touristique"
row 175 : 9 Naf codes for Rome G1102 "Promotion du tourisme local"
row 176 : 15 Naf codes for Rome G1201 "Accompagnement de voyages, d'activités culturelles ou sportives"
row 177 : 15 Naf codes for Rome G1202 "Animation d'activités culturelles ou ludiques"
row 178 : 15 Naf codes for Rome G1203 "Animation de loisirs auprès d'enfants ou d'adolescents"
row 179 : 15 Naf codes for Rome G1204 "Éducation en activités sportives"
row 180 : 8 Naf codes for Rome G1205 "Personnel d'attractions ou de structures de loisirs"
row 181 : 7 Naf codes for Rome G1206 "Personnel technique des jeux"
row 182 : 8 Naf codes for Rome G1301 "Conception de produits touristiques"
row 183 : 9 Naf codes for Rome G1302 "Optimisation de produits touristiques"
row 184 : 9 Naf codes for Rome G1303 "Vente de voyages"
row 185 : 7 Naf codes for Rome G1401 "Assistance de direction d'hôtel-restaurant"
row 186 : 8 Naf codes for Rome G1402 "Management d'hôtel-restaurant"
row 187 : 11 Naf codes for Rome G1403 "Gestion de structure de loisirs ou d'hébergement touristique"
row 188 : 8 Naf codes for Rome G1404 "Management d'établissement de restauration collective"
row 189 : 8 Naf codes for Rome G1501 "Personnel d'étage"
row 190 : 11 Naf codes for Rome G1502 "Personnel polyvalent d'hôtellerie"
row 191 : 8 Naf codes for Rome G1503 "Management du personnel d'étage"
row 192 : 11 Naf codes for Rome G1601 "Management du personnel de cuisine"
row 193 : 15 Naf codes for Rome G1602 "Personnel de cuisine"
row 194 : 15 Naf codes for Rome G1603 "Personnel polyvalent en restauration"
row 195 : 5 Naf codes for Rome G1604 "Fabrication de crêpes ou pizzas"
row 196 : 14 Naf codes for Rome G1605 "Plonge en restauration"
row 197 : 3 Naf codes for Rome G1701 "Conciergerie en hôtellerie"
row 198 : 6 Naf codes for Rome G1702 "Personnel du hall"
row 199 : 7 Naf codes for Rome G1703 "Réception en hôtellerie"
row 200 : 15 Naf codes for Rome G1801 "Café, bar brasserie"
row 201 : 6 Naf codes for Rome G1802 "Management du service en restauration"
row 202 : 15 Naf codes for Rome G1803 "Service en restauration"
row 203 : 6 Naf codes for Rome G1804 "Sommellerie"
row 204 : 5 Naf codes for Rome H1101 "Assistance et support technique client"
row 205 : 7 Naf codes for Rome H1102 "Management et ingénierie d'affaires"
row 206 : 6 Naf codes for Rome H1201 "Expertise technique couleur en industrie"
row 207 : 3 Naf codes for Rome H1202 "Conception et dessin de produits électriques et électroniques"
row 208 : 15 Naf codes for Rome H1203 "Conception et dessin produits mécaniques"
row 209 : 9 Naf codes for Rome H1204 "Design industriel"
row 210 : 13 Naf codes for Rome H1205 "Études - modèles en industrie des matériaux souples"
row 211 : 15 Naf codes for Rome H1206 "Management et ingénierie études, recherche et développement industriel"
row 212 : 6 Naf codes for Rome H1207 "Rédaction technique"
row 213 : 11 Naf codes for Rome H1208 "Intervention technique en études et conception en automatisme"
row 214 : 5 Naf codes for Rome H1209 "Intervention technique en études et développement électronique"
row 215 : 15 Naf codes for Rome H1210 "Intervention technique en études, recherche et développement"
row 216 : 5 Naf codes for Rome H1301 "Inspection de conformité"
row 217 : 9 Naf codes for Rome H1302 "Management et ingénierie Hygiène Sécurité Environnement -HSE- industriels"
row 218 : 9 Naf codes for Rome H1303 "Intervention technique en Hygiène Sécurité Environnement -HSE- industriel"
row 219 : 4 Naf codes for Rome H1401 "Management et ingénierie gestion industrielle et logistique"
row 220 : 4 Naf codes for Rome H1402 "Management et ingénierie méthodes et industrialisation"
row 221 : 2 Naf codes for Rome H1403 "Intervention technique en gestion industrielle et logistique"
row 222 : 14 Naf codes for Rome H1404 "Intervention technique en méthodes et industrialisation"
row 223 : 8 Naf codes for Rome H1501 "Direction de laboratoire d'analyse industrielle"

row 224 : 15 Naf codes for Rome H1502 "Management et ingénierie qualité industrielle"
row 225 : 15 Naf codes for Rome H1503 "Intervention technique en laboratoire d'analyse industrielle"
row 226 : 8 Naf codes for Rome H1504 "Intervention technique en contrôle essai qualité en électricité et électronique"
row 227 : 9 Naf codes for Rome H1505 "Intervention technique en formulation et analyse sensorielle"
row 228 : 14 Naf codes for Rome H1506 "Intervention technique qualité en mécanique et travail des métaux"
row 229 : 4 Naf codes for Rome H2101 "Abattage et découpe des viandes"
row 230 : 15 Naf codes for Rome H2102 "Conduite d'équipement de production alimentaire"
row 231 : 7 Naf codes for Rome H2201 "Assemblage d'ouvrages en bois"
row 232 : 10 Naf codes for Rome H2202 "Conduite d'équipement de fabrication de l'ameublement et du bois"
row 233 : 11 Naf codes for Rome H2203 "Conduite d'installation de production de panneaux bois"
row 234 : 7 Naf codes for Rome H2204 "Encadrement des industries de l'ameublement et du bois"
row 235 : 8 Naf codes for Rome H2205 "Première transformation de bois d'oeuvre"
row 236 : 15 Naf codes for Rome H2206 "Réalisation de menuiserie bois et tonnellerie"
row 237 : 15 Naf codes for Rome H2207 "Réalisation de meubles en bois"
row 238 : 8 Naf codes for Rome H2208 "Réalisation d'ouvrages décoratifs en bois"
row 239 : 7 Naf codes for Rome H2209 "Intervention technique en ameublement et bois"
row 240 : 15 Naf codes for Rome H2301 "Conduite d'équipement de production chimique ou pharmaceutique"
row 241 : 5 Naf codes for Rome H2401 "Assemblage - montage d'articles en cuirs, peaux"
row 242 : 15 Naf codes for Rome H2402 "Assemblage - montage de vêtements et produits textiles"
row 243 : 8 Naf codes for Rome H2403 "Conduite de machine de fabrication de produits textiles"
row 244 : 10 Naf codes for Rome H2404 "Conduite de machine de production et transformation des fils"
row 245 : 15 Naf codes for Rome H2405 "Conduite de machine de textiles nontissés"
row 246 : 13 Naf codes for Rome H2406 "Conduite de machine de traitement textile"
row 247 : 13 Naf codes for Rome H2407 "Conduite de machine de transformation et de finition des cuirs et peaux"
row 248 : 10 Naf codes for Rome H2408 "Conduite de machine d'impression textile"
row 249 : 10 Naf codes for Rome H2409 "Coupe cuir, textile et matériaux souples"
row 250 : 11 Naf codes for Rome H2410 "Mise en forme, repassage et finitions en industrie textile"
row 251 : 8 Naf codes for Rome H2411 "Montage de prototype cuir et matériaux souples"
row 252 : 9 Naf codes for Rome H2412 "Patronnage - gradation"
row 253 : 10 Naf codes for Rome H2413 "Préparation de fils, montage de métiers textiles"
row 254 : 15 Naf codes for Rome H2414 "Préparation et finition d'articles en cuir et matériaux souples"
row 255 : 11 Naf codes for Rome H2415 "Contrôle en industrie du cuir et du textile"
row 256 : 6 Naf codes for Rome H2501 "Encadrement de production de matériel électrique et électronique"
row 257 : 15 Naf codes for Rome H2502 "Management et ingénierie de production"
row 258 : 3 Naf codes for Rome H2503 "Pilotage d'unité élémentaire de production mécanique ou de travail des métaux"
row 259 : 3 Naf codes for Rome H2504 "Encadrement d'équipe en industrie de transformation"
row 260 : 9 Naf codes for Rome H2505 "Encadrement d'équipe ou d'atelier en matériaux souples"
row 261 : 7 Naf codes for Rome H2601 "Bobinage électrique"
row 262 : 15 Naf codes for Rome H2602 "Câblage électrique et électromécanique"
row 263 : 9 Naf codes for Rome H2603 "Conduite d'installation automatisée de production électrique, électronique et microélectronique"
row 264 : 6 Naf codes for Rome H2604 "Montage de produits électriques et électroniques"
row 265 : 11 Naf codes for Rome H2605 "Montage et câblage électronique"
row 266 : 12 Naf codes for Rome H2701 "Pilotage d'installation énergétique et pétrochimique"
row 267 : 4 Naf codes for Rome H2801 "Conduite d'équipement de transformation du verre"
row 268 : 4 Naf codes for Rome H2802 "Conduite d'installation de production de matériaux de construction"
row 269 : 10 Naf codes for Rome H2803 "Façonnage et émaillage en industrie céramique"
row 270 : 9 Naf codes for Rome H2804 "Pilotage de centrale à béton prêt à l'emploi, ciment, enrobés et granulats"
row 271 : 15 Naf codes for Rome H2805 "Pilotage d'installation de production verrière"
row 272 : 15 Naf codes for Rome H2901 "Ajustement et montage de fabrication"
row 273 : 15 Naf codes for Rome H2902 "Chaudronnerie - tôlerie"
row 274 : 15 Naf codes for Rome H2903 "Conduite d'équipement d'usinage"
row 275 : 8 Naf codes for Rome H2904 "Conduite d'équipement de déformation des métaux"
row 276 : 9 Naf codes for Rome H2905 "Conduite d'équipement de formage et découpage des matériaux"
row 277 : 15 Naf codes for Rome H2906 "Conduite d'installation automatisée ou robotisée de fabrication mécanique"
row 278 : 13 Naf codes for Rome H2907 "Conduite d'installation de production des métaux"
row 279 : 12 Naf codes for Rome H2908 "Modelage de matériaux non métalliques"
row 280 : 15 Naf codes for Rome H2909 "Montage-assemblage mécanique"
row 281 : 7 Naf codes for Rome H2910 "Moulage sable"
row 282 : 8 Naf codes for Rome H2911 "Réalisation de structures métalliques"
row 283 : 8 Naf codes for Rome H2912 "Réglage d'équipement de production industrielle"
row 284 : 15 Naf codes for Rome H2913 "Soudage manuel"
row 285 : 15 Naf codes for Rome H2914 "Réalisation et montage en tuyauterie"
row 286 : 6 Naf codes for Rome H3101 "Conduite d'équipement de fabrication de papier ou de carton"
row 287 : 15 Naf codes for Rome H3102 "Conduite d'installation de pâte à papier"
row 288 : 10 Naf codes for Rome H3201 "Conduite d'équipement de formage des plastiques et caoutchoucs"
row 289 : 7 Naf codes for Rome H3202 "Réglage d'équipement de formage des plastiques et caoutchoucs"
row 290 : 5 Naf codes for Rome H3203 "Fabrication de pièces en matériaux composites"
row 291 : 15 Naf codes for Rome H3301 "Conduite d'équipement de conditionnement"
row 292 : 15 Naf codes for Rome H3302 "Opérations manuelles d'assemblage, tri ou emballage"
row 293 : 3 Naf codes for Rome H3303 "Préparation de matières et produits industriels (broyage, mélange, ...)"
row 294 : 11 Naf codes for Rome H3401 "Conduite de traitement d'abrasion de surface"
row 295 : 6 Naf codes for Rome H3402 "Conduite de traitement par dépôt de surface"
row 296 : 10 Naf codes for Rome H3403 "Conduite de traitement thermique"
row 297 : 11 Naf codes for Rome H3404 "Peinture industrielle"
row 298 : 8 Naf codes for Rome I1101 "Direction et ingénierie en entretien infrastructure et bâti"
row 299 : 6 Naf codes for Rome I1102 "Management et ingénierie de maintenance industrielle"
row 300 : 8 Naf codes for Rome I1103 "Supervision d'entretien et gestion de véhicules"
row 301 : 8 Naf codes for Rome I1201 "Entretien d'affichage et mobilier urbain"
row 302 : 8 Naf codes for Rome I1202 "Entretien et surveillance du tracé routier"
row 303 : 15 Naf codes for Rome I1203 "Maintenance des bâtiments et des locaux"
row 304 : 6 Naf codes for Rome I1301 "Installation et maintenance d'ascenseurs"
row 305 : 13 Naf codes for Rome I1302 "Installation et maintenance d'automatismes"
row 306 : 4 Naf codes for Rome I1303 "Installation et maintenance de distributeurs automatiques"
row 307 : 15 Naf codes for Rome I1304 "Installation et maintenance d'équipements industriels et d'exploitation"
row 308 : 14 Naf codes for Rome I1305 "Installation et maintenance électronique"
row 309 : 9 Naf codes for Rome I1306 "Installation et maintenance en froid, conditionnement d'air"
row 310 : 15 Naf codes for Rome I1307 "Installation et maintenance télécoms et courants faibles"
row 311 : 4 Naf codes for Rome I1308 "Maintenance d'installation de chauffage"
row 312 : 15 Naf codes for Rome I1309 "Maintenance électrique"
row 313 : 15 Naf codes for Rome I1310 "Maintenance mécanique industrielle"
row 314 : 15 Naf codes for Rome I1401 "Maintenance informatique et bureautique"
row 315 : 7 Naf codes for Rome I1402 "Réparation de biens électrodomestiques"
row 316 : 10 Naf codes for Rome I1501 "Intervention en grande hauteur"

row 317 : 8 Naf codes for Rome I1502 "Intervention en milieu subaquatique"
row 318 : 10 Naf codes for Rome I1503 "Intervention en milieux et produits nocifs"
row 319 : 9 Naf codes for Rome I1601 "Installation et maintenance en nautisme"
row 320 : 9 Naf codes for Rome I1602 "Maintenance d'aéronefs"
row 321 : 15 Naf codes for Rome I1603 "Maintenance d'engins de chantier, levage, manutention et de machines agricoles"
row 322 : 15 Naf codes for Rome I1604 "Mécanique automobile et entretien de véhicules"
row 323 : 10 Naf codes for Rome I1605 "Mécanique de marine"
row 324 : 14 Naf codes for Rome I1606 "Réparation de carrosserie"
row 325 : 12 Naf codes for Rome I1607 "Réparation de cycles, motocycles et motoculteurs de loisirs"
row 326 : 11 Naf codes for Rome J1101 "Médecine de prévention"
row 327 : 5 Naf codes for Rome J1102 "Médecine généraliste et spécialisée"
row 328 : 7 Naf codes for Rome J1103 "Médecine dentaire"
row 329 : 2 Naf codes for Rome J1104 "Suivi de la grossesse et de l'accouchement"
row 330 : 5 Naf codes for Rome J1201 "Biologie médicale"
row 331 : 2 Naf codes for Rome J1202 "Pharmacie"
row 332 : 15 Naf codes for Rome J1301 "Personnel polyvalent des services hospitaliers"
row 333 : 3 Naf codes for Rome J1302 "Analyses médicales"
row 334 : 7 Naf codes for Rome J1303 "Assistance médico-technique"
row 335 : 7 Naf codes for Rome J1304 "Aide en puériculture"
row 336 : 4 Naf codes for Rome J1305 "Conduite de véhicules sanitaires"
row 337 : 6 Naf codes for Rome J1306 "Imagerie médicale"
row 338 : 2 Naf codes for Rome J1307 "Préparation en pharmacie"
row 339 : 4 Naf codes for Rome J1401 "Audioprothèses"
row 340 : 10 Naf codes for Rome J1402 "Diététique"
row 341 : 9 Naf codes for Rome J1403 "Ergothérapie"
row 342 : 2 Naf codes for Rome J1404 "Kinésithérapie"
row 343 : 3 Naf codes for Rome J1405 "Optique - lunetterie"
row 344 : 9 Naf codes for Rome J1406 "Orthophonie"
row 345 : 8 Naf codes for Rome J1407 "Orthoptique"
row 346 : 8 Naf codes for Rome J1408 "Ostéopathie et chiropraxie"
row 347 : 8 Naf codes for Rome J1409 "Pédicurie et podologie"
row 348 : 4 Naf codes for Rome J1410 "Prothèses dentaires"
row 349 : 6 Naf codes for Rome J1411 "Prothèses et orthèses"
row 350 : 13 Naf codes for Rome J1412 "Rééducation en psychomotricité"
row 351 : 15 Naf codes for Rome J1501 "Soins d'hygiène, de confort du patient"
row 352 : 7 Naf codes for Rome J1502 "Coordination de services médicaux ou paramédicaux"
row 353 : 10 Naf codes for Rome J1503 "Soins infirmiers spécialisés en anesthésie"
row 354 : 5 Naf codes for Rome J1504 "Soins infirmiers spécialisés en bloc opératoire"
row 355 : 9 Naf codes for Rome J1505 "Soins infirmiers spécialisés en prévention"
row 356 : 15 Naf codes for Rome J1506 "Soins infirmiers généralistes"
row 357 : 7 Naf codes for Rome J1507 "Soins infirmiers spécialisés en puériculture"
row 358 : 9 Naf codes for Rome K1101 "Accompagnement et médiation familiale"
row 359 : 8 Naf codes for Rome K1102 "Aide aux bénéficiaires d'une mesure de protection juridique"
row 360 : 12 Naf codes for Rome K1103 "Développement personnel et bien-être de la personne"
row 361 : 15 Naf codes for Rome K1104 "Psychologie"
row 362 : 15 Naf codes for Rome K1201 "Action sociale"
row 363 : 7 Naf codes for Rome K1202 "Éducation de jeunes enfants"
row 364 : 10 Naf codes for Rome K1203 "Encadrement technique en insertion professionnelle"
row 365 : 7 Naf codes for Rome K1204 "Médiation sociale et facilitation de la vie en société"
row 366 : 8 Naf codes for Rome K1205 "Information sociale"
row 367 : 11 Naf codes for Rome K1206 "Intervention socioculturelle"
row 368 : 15 Naf codes for Rome K1207 "Intervention socioéducative"
row 369 : 15 Naf codes for Rome K1301 "Accompagnement médicosocial"
row 370 : 15 Naf codes for Rome K1302 "Assistance auprès d'adultes"
row 371 : 15 Naf codes for Rome K1303 "Assistance auprès d'enfants"
row 372 : 15 Naf codes for Rome K1304 "Services domestiques"
row 373 : 14 Naf codes for Rome K1305 "Intervention sociale et familiale"
row 374 : 9 Naf codes for Rome K1401 "Conception et pilotage de la politique des pouvoirs publics"
row 375 : 12 Naf codes for Rome K1402 "Conseil en Santé Publique"
row 376 : 13 Naf codes for Rome K1403 "Management de structure de santé, sociale ou pénitentiaire"
row 377 : 10 Naf codes for Rome K1404 "Mise en oeuvre et pilotage de la politique des pouvoirs publics"
row 378 : 5 Naf codes for Rome K1405 "Représentation de l'Etat sur le territoire national ou international"
row 379 : 10 Naf codes for Rome K1501 "Application des règles financières publiques"
row 380 : 15 Naf codes for Rome K1502 "Contrôle et inspection des Affaires Sociales"
row 381 : 15 Naf codes for Rome K1503 "Contrôle et inspection des impôts"
row 382 : 14 Naf codes for Rome K1504 "Contrôle et inspection du Trésor Public"
row 383 : 15 Naf codes for Rome K1505 "Protection des consommateurs et contrôle des échanges commerciaux"
row 384 : 10 Naf codes for Rome K1601 "Gestion de l'information et de la documentation"
row 385 : 11 Naf codes for Rome K1602 "Gestion de patrimoine culturel"
row 386 : 6 Naf codes for Rome K1701 "Personnel de la Défense"
row 387 : 11 Naf codes for Rome K1702 "Direction de la sécurité civile et des secours"
row 388 : 14 Naf codes for Rome K1703 "Direction opérationnelle de la défense"
row 389 : 10 Naf codes for Rome K1704 "Management de la sécurité publique"
row 390 : 8 Naf codes for Rome K1705 "Sécurité civile et secours"
row 391 : 7 Naf codes for Rome K1706 "Sécurité publique"
row 392 : 5 Naf codes for Rome K1707 "Surveillance municipale"
row 393 : 8 Naf codes for Rome K1801 "Conseil en emploi et insertion socioprofessionnelle"
row 394 : 12 Naf codes for Rome K1802 "Développement local"
row 395 : 1 Naf codes for Rome K1901 "Aide et médiation judiciaire"
row 396 : 11 Naf codes for Rome K1902 "Collaboration juridique"
row 397 : 15 Naf codes for Rome K1903 "Défense et conseil juridique"
row 398 : 15 Naf codes for Rome K1904 "Magistrature"
row 399 : 10 Naf codes for Rome K2101 "Conseil en formation"
row 400 : 9 Naf codes for Rome K2102 "Coordination pédagogique"
row 401 : 11 Naf codes for Rome K2103 "Direction d'établissement et d'enseignement"
row 402 : 14 Naf codes for Rome K2104 "Éducation et surveillance au sein d'établissements d'enseignement"
row 403 : 10 Naf codes for Rome K2105 "Enseignement artistique"
row 404 : 12 Naf codes for Rome K2106 "Enseignement des écoles"
row 405 : 15 Naf codes for Rome K2107 "Enseignement général du second degré"
row 406 : 9 Naf codes for Rome K2108 "Enseignement supérieur"
row 407 : 7 Naf codes for Rome K2109 "Enseignement technique et professionnel"
row 408 : 4 Naf codes for Rome K2110 "Formation en conduite de véhicules"
row 409 : 15 Naf codes for Rome K2111 "Formation professionnelle"
row 410 : 14 Naf codes for Rome K2112 "Orientation scolaire et professionnelle"
row 411 : 14 Naf codes for Rome K2201 "Blanchisserie industrielle"
row 412 : 3 Naf codes for Rome K2202 "Lavage de vitres"
row 413 : 4 Naf codes for Rome K2203 "Management et inspection en propreté de locaux"
row 414 : 15 Naf codes for Rome K2204 "Nettoyage de locaux"
row 415 : 9 Naf codes for Rome K2301 "Distribution et assainissement d'eau"
row 416 : 9 Naf codes for Rome K2302 "Management et inspection en environnement urbain"
row 417 : 13 Naf codes for Rome K2303 "Nettoyage des espaces urbains"
row 418 : 9 Naf codes for Rome K2304 "Revalorisation de produits industriels"
row 419 : 10 Naf codes for Rome K2305 "Salubrité et traitement de nuisibles"
row 420 : 7 Naf codes for Rome K2306 "Supervision d'exploitation éco-industrielle"
row 421 : 10 Naf codes for Rome K2401 "Recherche en sciences de l'homme et de la société"
row 422 : 11 Naf codes for Rome K2402 "Recherche en sciences de l'univers, de la matière et du vivant"
row 423 : 15 Naf codes for Rome K2501 "Gardiennage de locaux"
row 424 : 5 Naf codes for Rome K2502 "Management de sécurité privée"
row 425 : 15 Naf codes for Rome K2503 "Sécurité et surveillance privées"
row 426 : 5 Naf codes for Rome K2601 "Conduite d'opérations funéraires"
row 427 : 5 Naf codes for Rome K2602 "Conseil en services funéraires"
row 428 : 11 Naf codes for Rome K2603 "Thanatopraxie"
row 429 : 8 Naf codes for Rome L1101 "Animation musicale et scénique"
row 430 : 14 Naf codes for Rome L1102 "Mannequinat et pose artistique"
row 431 : 8 Naf codes for Rome L1103 "Présentation de spectacles ou d'émissions"
row 432 : 10 Naf codes for Rome L1201 "Danse"

row 433 : 10 Naf codes for Rome L1202 "Musique et chant"
row 434 : 12 Naf codes for Rome L1203 "Art dramatique"
row 435 : 9 Naf codes for Rome L1204 "Arts du cirque et arts visuels"
row 436 : 8 Naf codes for Rome L1301 "Mise en scène de spectacles vivants"
row 437 : 15 Naf codes for Rome L1302 "Production et administration spectacle, cinéma et audiovisuel"
row 438 : 8 Naf codes for Rome L1303 "Promotion d'artistes et de spectacles"
row 439 : 10 Naf codes for Rome L1304 "Réalisation cinématographique et audiovisuelle"
row 440 : 9 Naf codes for Rome L1401 "Sportif professionnel"
row 441 : 9 Naf codes for Rome L1501 "Coiffure et maquillage spectacle"
row 442 : 9 Naf codes for Rome L1502 "Costume et habillage spectacle"
row 443 : 6 Naf codes for Rome L1503 "Décor et accessoires spectacle"
row 444 : 8 Naf codes for Rome L1504 "Éclairage spectacle"
row 445 : 11 Naf codes for Rome L1505 "Image cinématographique et télévisuelle"
row 446 : 6 Naf codes for Rome L1506 "Machinerie spectacle"
row 447 : 10 Naf codes for Rome L1507 "Montage audiovisuel et post-production"
row 448 : 12 Naf codes for Rome L1508 "Prise de son et sonorisation"
row 449 : 10 Naf codes for Rome L1509 "Régie générale"
row 450 : 6 Naf codes for Rome M1101 "Achats"
row 451 : 4 Naf codes for Rome M1102 "Direction des achats"
row 452 : 11 Naf codes for Rome M1201 "Analyse et ingénierie financière"
row 453 : 7 Naf codes for Rome M1202 "Audit et contrôle comptables et financiers"
row 454 : 15 Naf codes for Rome M1203 "Comptabilité"
row 455 : 15 Naf codes for Rome M1204 "Contrôle de gestion"
row 456 : 15 Naf codes for Rome M1205 "Direction administrative et financière"
row 457 : 5 Naf codes for Rome M1206 "Management de groupe ou de service comptable"
row 458 : 9 Naf codes for Rome M1207 "Trésorerie et financement"
row 459 : 10 Naf codes for Rome M1301 "Direction de grande entreprise ou d'établissement public"
row 460 : 6 Naf codes for Rome M1302 "Direction de petite ou moyenne entreprise"
row 461 : 3 Naf codes for Rome M1401 "Conduite d'enquêtes"
row 462 : 15 Naf codes for Rome M1402 "Conseil en organisation et management d'entreprise"
row 463 : 10 Naf codes for Rome M1403 "Études et prospectives socio-économiques"
row 464 : 4 Naf codes for Rome M1404 "Management et gestion d'enquêtes"
row 465 : 15 Naf codes for Rome M1501 "Assistanat en ressources humaines"
row 466 : 15 Naf codes for Rome M1502 "Développement des ressources humaines"
row 467 : 13 Naf codes for Rome M1503 "Management des ressources humaines"
row 468 : 15 Naf codes for Rome M1601 "Accueil et renseignements"
row 469 : 15 Naf codes for Rome M1602 "Opérations administratives"
row 470 : 6 Naf codes for Rome M1603 "Distribution de documents"
row 471 : 15 Naf codes for Rome M1604 "Assistanat de direction"
row 472 : 15 Naf codes for Rome M1605 "Assistanat technique et administratif"
row 473 : 6 Naf codes for Rome M1606 "Saisie de données"
row 474 : 15 Naf codes for Rome M1607 "Secrétariat"
row 475 : 7 Naf codes for Rome M1608 "Secrétariat comptable"
row 476 : 15 Naf codes for Rome M1609 "Secrétariat et assistanat médical ou médico-social"
row 477 : 6 Naf codes for Rome M1701 "Administration des ventes"
row 478 : 10 Naf codes for Rome M1702 "Analyse de tendance"
row 479 : 14 Naf codes for Rome M1703 "Management et gestion de produit"
row 480 : 6 Naf codes for Rome M1704 "Management relation clientèle"
row 481 : 15 Naf codes for Rome M1705 "Marketing"
row 482 : 5 Naf codes for Rome M1706 "Promotion des ventes"
row 483 : 15 Naf codes for Rome M1707 "Stratégie commerciale"
row 484 : 15 Naf codes for Rome M1801 "Administration de systèmes d'information"
row 485 : 6 Naf codes for Rome M1802 "Expertise et support en systèmes d'information"
row 486 : 15 Naf codes for Rome M1803 "Direction des systèmes d'information"
row 487 : 10 Naf codes for Rome M1804 "Études et développement de réseaux de télécoms"
row 488 : 15 Naf codes for Rome M1805 "Études et développement informatique"
row 489 : 7 Naf codes for Rome M1806 "Conseil et maîtrise d'ouvrage en systèmes d'information"
row 490 : 14 Naf codes for Rome M1807 "Exploitation de systèmes de communication et de commandement"
row 491 : 10 Naf codes for Rome M1808 "Information géographique"
row 492 : 12 Naf codes for Rome M1809 "Information météorologique"
row 493 : 9 Naf codes for Rome M1810 "Production et exploitation de systèmes d'information"
row 494 : 15 Naf codes for Rome N1101 "Conduite d'engins de déplacement des charges"
row 495 : 4 Naf codes for Rome N1102 "Déménagement"
row 496 : 15 Naf codes for Rome N1103 "Magasinage et préparation de commandes"
row 497 : 9 Naf codes for Rome N1104 "Manoeuvre et conduite d'engins lourds de manutention"
row 498 : 15 Naf codes for Rome N1105 "Manutention manuelle de charges"
row 499 : 6 Naf codes for Rome N1201 "Affrètement transport"
row 500 : 6 Naf codes for Rome N1202 "Gestion des opérations de circulation internationale des marchandises"
row 501 : 10 Naf codes for Rome N1301 "Conception et organisation de la chaîne logistique"
row 502 : 4 Naf codes for Rome N1302 "Direction de site logistique"
row 503 : 15 Naf codes for Rome N1303 "Intervention technique d'exploitation logistique"
row 504 : 10 Naf codes for Rome N2101 "Navigation commerciale aérienne"
row 505 : 7 Naf codes for Rome N2102 "Pilotage et navigation technique aérienne"
row 506 : 10 Naf codes for Rome N2201 "Personnel d'escale aéroportuaire"
row 507 : 15 Naf codes for Rome N2202 "Contrôle de la navigation aérienne"
row 508 : 8 Naf codes for Rome N2203 "Exploitation des pistes aéroportuaires"
row 509 : 6 Naf codes for Rome N2204 "Préparation des vols"
row 510 : 14 Naf codes for Rome N2205 "Direction d'escale et exploitation aéroportuaire"
row 511 : 12 Naf codes for Rome N3101 "Encadrement de la navigation maritime"
row 512 : 10 Naf codes for Rome N3102 "Equipage de la navigation maritime"
row 513 : 10 Naf codes for Rome N3103 "Navigation fluviale"
row 514 : 9 Naf codes for Rome N3201 "Exploitation des opérations portuaires et du transport maritime"
row 515 : 14 Naf codes for Rome N3202 "Exploitation du transport fluvial"
row 516 : 3 Naf codes for Rome N3203 "Manutention portuaire"
row 517 : 15 Naf codes for Rome N4101 "Conduite de transport de marchandises sur longue distance"
row 518 : 12 Naf codes for Rome N4102 "Conduite de transport de particuliers"
row 519 : 7 Naf codes for Rome N4103 "Conduite de transport en commun sur route"
row 520 : 10 Naf codes for Rome N4104 "Courses et livraisons express"
row 521 : 15 Naf codes for Rome N4105 "Conduite et livraison par tournées sur courte distance"
row 522 : 5 Naf codes for Rome N4201 "Direction d'exploitation des transports routiers de marchandises"
row 523 : 9 Naf codes for Rome N4202 "Direction d'exploitation des transports routiers de personnes"
row 524 : 6 Naf codes for Rome N4203 "Intervention technique d'exploitation des transports routiers de marchandises"
row 525 : 8 Naf codes for Rome N4204 "Intervention technique d'exploitation des transports routiers de personnes"
row 526 : 10 Naf codes for Rome N4301 "Conduite sur rails"
row 527 : 7 Naf codes for Rome N4302 "Contrôle des transports en commun"
row 528 : 9 Naf codes for Rome N4401 "Circulation du réseau ferré"
row 529 : 3 Naf codes for Rome N4402 "Exploitation et manoeuvre des remontées mécaniques"
row 530 : 11 Naf codes for Rome N4403 "Manoeuvre du réseau ferré"

### Écriture du fichier CSV et fin du traitement

In [138]:
# Write CSV File
import csv
import time
output = f"/outputs/andi_rome2naf_{time.strftime('%Y%m%d')}.csv"
i = 0
with open(output, 'w') as file:
    writer = csv.DictWriter(
        file,
        delimiter=',',
        quotechar='"',
        quoting=csv.QUOTE_MINIMAL,
        fieldnames=['rome', 'rome_label', 'naf', 'naf_label', 'score']
    )
    writer.writeheader()
    for rome, naflist in result_table.items():
        for data in naflist:
            data['rome_label'] = rome_labels.loc[(rome_labels['rome'] == rome, 'label')].iloc[0]
            data['naf_label'] = naf_labels.loc[(naf_labels['naf'] == data['naf'], 'label')].iloc[0]
            writer.writerow(data)
            i += 1
print(f'Wrote {i} rows to {output}')

# Crash to end automatic cell execution
raise SystemExit("Fin traitement automatique")

Wrote 5342 rows to /outputs/andi_rome2naf_20200130.csv

SystemExit: Fin traitement automatique

### Code historique - documentation

In [ ]:
# Legacy Code

# df_ok['score'] = 0
# df_ok.loc[df_cumsum < 15, 'score'] = 5
# df_ok['score'] = pd.cut(
 #   df_ok['cumsum'],
 #   bins=[0, 15, 30, 45, 60, 100],
 #   labels=[5, 4, 3, 2, 1]
#)
#df_ok

#df_base['score'] = 0
#df_base.loc[df_base['cumsum'].ge(0), 'score'] = 0
#df_base.loc[df_base['cumsum'].ge(15).lt(30), 'score'] = 1
#df_base.loc[df_base['cumsum'].ge(30).lt(45), 'score'] = 2
#df_base.loc[df_base['cumsum'].ge(45).lt(60), 'score'] = 3
#df_base.loc[df_base['cumsum'].ge(60), 'score'] = 4
#df_base

In [56]:
def display_result(rome, table, naf_labels):
    print(f"Résultat(s) pour {rome} - \"{rome_labels.loc[(rome_labels['rome'] == rome, 'label')].iloc[0]}\"")
    df = pd.DataFrame(table[rome])
    df = df.merge(naf_labels, on='naf')[['naf', 'label','score']]
    display(HTML(df.head(15).to_html()))


# display_result('A1303', result_table, naf_labels)
display_result('N4104', result_table, naf_labels)
# rome2nafz(t1, naf_i)

Résultat(s) pour N4104 - "Courses et livraisons express"

KeyError: 'naf'

In [139]:
## Vérification de la couverture des rome: génère une liste de rome sans corresponces naf,
## avec un résumé des données brutes
romes = []
labels = []
embauches = []
naf_total = []
naf_liste = []

data = []

emploi_rome_naf['naf2'] = emploi_rome_naf['naf']
ren = emploi_rome_naf.groupby('rome').agg(
    embauches_total_r=pd.NamedAgg(column='embauches', aggfunc=sum),
    naf_list=pd.NamedAgg(column='naf', aggfunc=lambda x: ' '.join(x)),
    naf_count = pd.NamedAgg(column='naf2', aggfunc=lambda x: len(x))
)

for index, row in rome_labels.iterrows():
    test_rome = row['rome']
    df = pd.DataFrame(result_table[test_rome])
    if len(df) == 0:
        data.append([
            test_rome,
            row['label'],
            ren.loc[(ren.index == test_rome, 'embauches_total_r')].iloc[0],
            ren.loc[(ren.index == test_rome, 'naf_count')].iloc[0],
            ren.loc[(ren.index == test_rome, 'naf_list')].iloc[0],
        ])

bilan = pd.DataFrame(
    data,
    columns=['romes','labels','embauches','naf_total','naf_list']
)
pd.set_option('display.max_rows', None)
bilan.head(100)

Empty DataFrame
Columns: [romes, labels, embauches, naf_total, naf_list]
Index: []

In [51]:
emploi_rome_naf['naf2'] = emploi_rome_naf['naf']
rome_embauches_naf = emploi_rome_naf.groupby('rome').agg(
    embauches_total_r=pd.NamedAgg(column='embauches', aggfunc=sum),
    naf=pd.NamedAgg(column='naf', aggfunc=lambda x: ' '.join(x)),
    naf_count = pd.NamedAgg(column='naf2', aggfunc=lambda x: len(x))
)

rome_embauches_naf.loc[rome_embauches_naf.index == 'A1101']

,embauches_total_r,naf,naf_count
rome,,,
A1101,4653,0111Z 0113Z 0114Z 0119Z 0121Z 0122Z 0123Z 0124...,365

In [22]:
## Andi Matching API Naf criteria build testing
import os

def get_andidata_naflist(romes, include=None, exclude=None):
    # current_dir = os.path.dirname(os.path.abspath(__file__))
    # filename = f"{current_dir}/data_files/{ANDIDATA_FILE}.csv"
    filename="/outputs/andi_rome2naf_20200130.csv"
    
    include_list = []
    exclude_list = []
    with open(filename) as csvfile:
        rdr = csv.DictReader(
            csvfile,
            delimiter=',',
            quotechar='"',
            quoting=csv.QUOTE_MINIMAL,
        )
        for row in rdr:
            if row['rome'] in romes:
                include_list.append(row)
            if include and row['rome'] in include:
                include_list.append(row)
            if exclude and row['rome'] in exclude:
                exclude_list.append(row['naf'])

    include_list[:] = [el for el in include_list if el['naf'] not in exclude_list]
    out_list = {x['naf']: x['score'] for x in include_list}

    return [out_list, {}]

def get_naf_sql(rules):
    '''
    Get sql rules to select naf code
    '''
    codes, domains = rules
    sql = []
    for naf, value in codes.items():
        sql.append(f'WHEN \'{naf}\' THEN {value}')

    if domains:
        sql.append('ELSE CASE substring(e.naf, 0, 3)')
        for naf, value in domains.items():
            value -= 1
            sql.append(f'WHEN \'{naf}\' THEN {value}')

    sql.append('ELSE 1')

    if domains:
        sql.append('END')

    return "\n".join(sql)

rules = get_andidata_naflist('K1707')
print(rules)
print(get_naf_sql(rules))

[{}, {}]
ELSE 1

In [128]:
# Compute best nafs for rome
pd.set_option('display.max_rows', 20)
def display_df(df):
    display(HTML(df.to_html()))
    
ROME = 'K1707' # Policier
ROME = 'M1809' # Information météorologique
ROME = 'D1101' # Boucher
ROME = 'J1202'

print(f"Table ROME=>NAF pour \"{rome_labels.loc[(rome_labels['rome'] == ROME, 'label')].iloc[0]}\"")

# Basic order based on employment percentage
# Use rome recruitment % by naf ratio, stop @ 75% of total rome pool
df_base = (
naf_i.loc[naf_i.rome == ROME]
    .sort_values(by=['ratio_naf'], ascending=False)
)
print('Step 1')
display_df(df_base[df_base.rome == ROME].head(20))

df_base['cumsum'] =  100 - df_base['ratio_rome'].cumsum()

print('Step 1bis: cumsum')
display_df(df_base[df_base.rome == ROME].head(20))

#df_base = df_base.loc[df_base['cumsum'] > 15]
df_base['score_naf'] = pd.to_numeric(pd.cut(
    df_base['ratio_naf'],
    bins=[0, 2, 5, 10, 50, 100],
    labels=[1, 2, 3, 4, 5]
))
df_base['score_rome'] = pd.to_numeric(pd.cut(
    df_base['ratio_rome'],
    bins=[0, 2, 5, 10, 50, 100],
    labels=[1, 2, 3, 4, 5]
))


print('Step 2: prior to boost')
display_df(df_base[df_base.rome == ROME].head(20))

# Boosting scores with rome orientations
# If naf is in top 10 of rome destinations, increment score
#df_rs = (
#naf_i.loc[naf_i.rome == ROME ]
#    .sort_values(by=['ratio_rome'], ascending=False)
#)
#df_rs['cumsum'] =  100 - df_rs['ratio_rome'].cumsum()
#df_rs = df_rs.head(10)
#df_base.loc[df_base['naf'].isin(df_rs['naf']), 'score'] += 1

print('Step 3')
display_df(df_base[df_base.rome == ROME].head(20))

df_base = df_base.loc[df_base['score_naf'].ge(1) | df_base['score_rome'].ge(1)]
df_base['score'] = pd.cut(
    df_base['score_naf'] * 3 + df_base['score_rome'],
    bins=5,
    labels=[1,2,3,4,5]
)
# Display
(
df_base
    .merge(naf_labels, on='naf')
    .sort_values(by=['score'], ascending=False)
    [['rome', 'naf', 'label','score', 'score_naf', 'score_rome']]
).head(15)

Table ROME=>NAF pour "Pharmacie"
Step 1

Step 1bis: cumsum

Step 2: prior to boost

Step 3

,rome,naf,label,score,score_naf,score_rome
0,J1202,4773Z,Commerce de détail de produits pharmaceutiques...,5,4,5
73,J1202,1071B,Cuisson de produits de boulangerie,1,1,1
93,J1202,8899B,Action sociale sans hébergement n.c.a.,1,1,1
94,J1202,7112B,"Ingénierie, études techniques",1,1,1
95,J1202,8531Z,Enseignement secondaire général,1,1,1
96,J1202,8412Z,"Administration publique (tutelle) de la santé,...",1,1,1
97,J1202,2222Z,Fabrication d'emballages en matières plastiques,1,1,1
98,J1202,9602A,Coiffure,1,1,1
99,J1202,7810Z,Activités des agences de placement de main-d'œ...,1,1,1
100,J1202,7111Z,Activités d'architecture,1,1,1
101,J1202,8230Z,"Organisation de foires, salons professionnels ...",1,1,1
102,J1202,9602B,Soins de beauté,1,1,1
103,J1202,8292Z,Activités de conditionnement,1,1,1
104,J1202,4634Z,Commerce de gros (commerce interentreprises) d...,1,1,1
105,J1202,4772A,Commerce de détail de la chaussure,1,1,1