### Refactoring de l'algo matching
- l'ancien contient des stades redondants, qui ne dérangent pas en cas de traitement batch, mais limitent la performance en temps réel
- plusieurs possibilités s'ouvrent pour accélérer le temps d'exécution de l'algo

In [1]:
# Connect to database
import psycopg2
import psycopg2.extras
connection = psycopg2.connect(dsn="postgres://jupyter:jupyter@localhost:5432/andi")

### Test temps d'exécution
For Lyon:
- with order by: 386 ms
- without order by: 260 ms
- without dist nor order by : 109 ms

In [6]:
%%timeit -n4 -r4
sql_mask = """
    SELECT
        id_internal,
        commune
    -- earth_distance(ll_to_earth(%(lat)s, %(lon)s), ll_to_earth(lat, lon)) AS dist
    FROM
        entreprises
    WHERE
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 15 * 1000) @> ll_to_earth(lat, lon)
    -- ORDER BY earth_box(ll_to_earth(%(lat)s, %(lon)s), 10 * 1000) @> ll_to_earth(lat, lon) ASC
    
    """
connection.commit()
with connection.cursor() as cur:
    cur.execute(
       sql_mask,
        # {'lat':'46.6743', 'lon':'5.5492'} # Province
        {'lat':'48.878', 'lon':'2.301'}  # Paris
        # {'lat': '45.765', 'lon': '4.834'} # Lyon
    )
    r = cur.fetchall()

6.73 s ± 1.57 s per loop (mean ± std. dev. of 4 runs, 4 loops each)

### Idea
Implement binning by successive earth boxes !
First third, second third, third - third

In [40]:
full_query = """
WITH query_param AS (
    SELECT
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 10 * 1000) AS full_range,
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 3 * 1000) AS short_range,
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 6 * 1000) AS med_range,
        ll_to_earth(%(lat)s, %(lon)s) AS point
), comp_pos AS (
    SELECT
        id_internal,
        commune,
        lat,
        lon
    FROM
        entreprises, query_param qp
    WHERE
        qp.full_range @> ll_to_earth(lat, lon)
), crit_geo AS (

 -- crit geo ----------------------------------------------
    SELECT
        cp.id_internal,
        CASE 
            WHEN qp.short_range @> ll_to_earth(cp.lat, cp.lon) THEN 5 
            WHEN qp.med_range @> ll_to_earth(cp.lat, cp.lon) THEN 3
            ELSE 1
        END AS score
    FROM comp_pos cp, query_param qp
), crit_size AS (

-- crit size ---------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE e.taille
WHEN '1-2' THEN 1
ELSE 1
END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_naf AS (

-- crit naf ----------------------------------------------
     SELECT
        comp_pos.id_internal,
        CASE e.naf
WHEN '4622Z' THEN 5
WHEN '0130Z' THEN 4
WHEN '0119Z' THEN 4
WHEN '01' THEN 3
ELSE 1
END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_welcome AS (
-- crit welcome ------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE
            WHEN e.pmsmp_interest THEN 2
            WHEN (e.pmsmp_interest) AND (e.pmsmp_count_recent > 0) THEN 3
            ELSE 1
        END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_contact AS (
-- crit contact ------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE
            WHEN (COALESCE(cc.email_official, '') <> '')
            OR (COALESCE(cc.contact_1_phone, '') <> '')
            OR (COALESCE(cc.contact_2_phone, '') <> '') THEN 2
            WHEN (COALESCE(cc.contact_1_mail, '') <> '')
            OR (COALESCE(cc.contact_2_mail, '') <> '') THEN 3
            ELSE 1
        END AS score
    FROM comp_pos
    INNER JOIN
        entreprises cc ON cc.id_internal = comp_pos.id_internal
    )
SELECT
    e.id_internal as id,
    e.nom AS nom,
    e.lat AS lat,
    e.lon AS lon,
    e.siret AS siret,
    round(earth_distance(qp.point, ll_to_earth(e.lat, e.lon))/1000) || ' km' AS distance,
    cr_nf.score AS score_naf,
    cr_wc.score AS score_welcome,
    cr_cn.score AS score_contact,
    cr_si.score AS score_size,
    cr_ge.score AS score_geo,
    cr_ge.score * 1 + cr_si.score * 3 + cr_cn.score * 3 + cr_wc.score * 3 + cr_nf.score * 5 AS score_total
FROM
    query_param qp, crit_geo cr_ge
INNER JOIN
    crit_size cr_si ON cr_si.id_internal = cr_ge.id_internal
INNER JOIN
    crit_naf cr_nf ON cr_nf.id_internal = cr_ge.id_internal
INNER JOIN
    crit_welcome cr_wc ON cr_wc.id_internal = cr_ge.id_internal
INNER JOIN
    crit_contact cr_cn ON cr_cn.id_internal = cr_ge.id_internal
INNER JOIN
    entreprises e ON e.id_internal = cr_ge.id_internal
LEFT JOIN
    naf ON e.naf = naf.sous_classe_a_732
ORDER BY score_total DESC, distance ASC
LIMIT 100
"""

In [52]:
%%timeit -n3 -r3
import pandas as pd
import pandas.io.sql as sqlio
from IPython.display import display, HTML

with connection.cursor() as cur:
    match_sql = cur.mogrify(
    v1_query,
    # {'lat':'46.6743', 'lon':'5.5492'} # Province
    {'lat':'48.878', 'lon':'2.301'}  # Paris
    # {'lat': '45.765', 'lon': '4.834'} # Lyon
)


df = sqlio.read_sql_query(match_sql, connection)
df

9.54 s ± 573 ms per loop (mean ± std. dev. of 3 runs, 3 loops each)

## Résults:
%%timeit -n3 -r3
### v1
- Lyon 1.09 s ± 24.3 ms per loop
- Paris 8.03 s ± 481 ms per loop
- Province 71.4 ms ± 26 ms per loop

### v2
- Lyon 1.91 s ± 8.47 ms per loop (mean ± std. dev. of 3 runs, 3 loops each)
- Paris 16 s ± 515 ms per loop (mean ± std. dev. of 3 runs, 3 loops each)
- Province 102 ms ± 3.84 ms per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [51]:
# V1
v1_query = """
WITH comp_pos AS (
    SELECT
        id_internal,
        commune,
        earth_distance(ll_to_earth(%(lat)s, %(lon)s), ll_to_earth(lat, lon))
            AS dist
    FROM
        entreprises
    WHERE
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 10 * 1000) @> ll_to_earth(lat, lon)
    -- ORDER BY earth_box(ll_to_earth(%(lat)s, %(lon)s), 10 * 1000) @> ll_to_earth(lat, lon) ASC
    
), crit_geo AS (
 -- crit geo ----------------------------------------------
    SELECT
        id_internal,
        dist,
        4 - NTILE(3) OVER(
            ORDER BY dist ASC
        ) AS score
    FROM comp_pos
    ORDER BY dist ASC
), crit_size AS (
-- crit size ---------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE e.taille
WHEN '1-2' THEN 1
ELSE 1
END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_naf AS (
-- crit naf ----------------------------------------------
     SELECT
        comp_pos.id_internal,
        CASE e.naf
WHEN '4622Z' THEN 5
WHEN '0130Z' THEN 4
WHEN '0119Z' THEN 4
WHEN '01' THEN 3
ELSE 1
END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_welcome AS (
-- crit welcome ------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE
            WHEN e.pmsmp_interest THEN 2
            WHEN (e.pmsmp_interest) AND (e.pmsmp_count_recent > 0) THEN 3
            ELSE 1
        END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_contact AS (
-- crit contact ------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE
            WHEN (COALESCE(cc.email_official, '') <> '')
            OR (COALESCE(cc.contact_1_phone, '') <> '')
            OR (COALESCE(cc.contact_2_phone, '') <> '') THEN 2
            WHEN (COALESCE(cc.contact_1_mail, '') <> '')
            OR (COALESCE(cc.contact_2_mail, '') <> '') THEN 3
            ELSE 1
        END AS score
    FROM comp_pos
    INNER JOIN
        entreprises cc ON cc.id_internal = comp_pos.id_internal
    )
SELECT
    e.id_internal as id,
    e.nom AS nom,
    round(cr_ge.dist/1000) || ' km' AS distance,
    e.lat AS lat,
    e.lon AS lon,
    e.siret AS siret,
    cr_nf.score AS score_naf,
    cr_wc.score AS score_welcome,
    cr_cn.score AS score_contact,
    cr_si.score AS score_size,
    cr_ge.score AS score_geo,
    cr_ge.score * 1 + cr_si.score * 3 + cr_cn.score * 3 + cr_wc.score * 3 + cr_nf.score * 5 AS score_total
FROM
    crit_geo cr_ge
INNER JOIN
    crit_size cr_si ON cr_si.id_internal = cr_ge.id_internal
INNER JOIN
    crit_naf cr_nf ON cr_nf.id_internal = cr_ge.id_internal
INNER JOIN
    crit_welcome cr_wc ON cr_wc.id_internal = cr_ge.id_internal
INNER JOIN
    crit_contact cr_cn ON cr_cn.id_internal = cr_ge.id_internal
INNER JOIN
    entreprises e ON e.id_internal = cr_ge.id_internal
LEFT JOIN
    naf ON e.naf = naf.sous_classe_a_732
ORDER BY score_total DESC
LIMIT 100
"""

In [53]:
v2_query = """
WITH query_param AS (
    SELECT
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 10 * 1000) AS full_range,
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 3 * 1000) AS short_range,
        earth_box(ll_to_earth(%(lat)s, %(lon)s), 6 * 1000) AS med_range,
        ll_to_earth(%(lat)s, %(lon)s) AS point
), comp_pos AS (
    SELECT
        id_internal,
        commune,
        lat,
        lon
    FROM
        entreprises, query_param qp
    WHERE
        qp.full_range @> ll_to_earth(lat, lon)
), crit_geo AS (

 -- crit geo ----------------------------------------------
    SELECT
        cp.id_internal,
        CASE 
            WHEN qp.short_range @> ll_to_earth(cp.lat, cp.lon) THEN 5 
            WHEN qp.med_range @> ll_to_earth(cp.lat, cp.lon) THEN 3
            ELSE 1
        END AS score
    FROM comp_pos cp, query_param qp
), crit_size AS (

-- crit size ---------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE e.taille
WHEN '1-2' THEN 1
ELSE 1
END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_naf AS (

-- crit naf ----------------------------------------------
     SELECT
        comp_pos.id_internal,
        CASE e.naf
WHEN '4622Z' THEN 5
WHEN '0130Z' THEN 4
WHEN '0119Z' THEN 4
WHEN '01' THEN 3
ELSE 1
END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_welcome AS (
-- crit welcome ------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE
            WHEN e.pmsmp_interest THEN 2
            WHEN (e.pmsmp_interest) AND (e.pmsmp_count_recent > 0) THEN 3
            ELSE 1
        END AS score
    FROM comp_pos
    INNER JOIN
        entreprises e ON e.id_internal = comp_pos.id_internal
), crit_contact AS (
-- crit contact ------------------------------------------
    SELECT
        comp_pos.id_internal,
        CASE
            WHEN (COALESCE(cc.email_official, '') <> '')
            OR (COALESCE(cc.contact_1_phone, '') <> '')
            OR (COALESCE(cc.contact_2_phone, '') <> '') THEN 2
            WHEN (COALESCE(cc.contact_1_mail, '') <> '')
            OR (COALESCE(cc.contact_2_mail, '') <> '') THEN 3
            ELSE 1
        END AS score
    FROM comp_pos
    INNER JOIN
        entreprises cc ON cc.id_internal = comp_pos.id_internal
    )
SELECT
    e.id_internal as id,
    e.nom AS nom,
    e.lat AS lat,
    e.lon AS lon,
    e.siret AS siret,
    round(earth_distance(qp.point, ll_to_earth(e.lat, e.lon))/1000) || ' km' AS distance,
    cr_nf.score AS score_naf,
    cr_wc.score AS score_welcome,
    cr_cn.score AS score_contact,
    cr_si.score AS score_size,
    cr_ge.score AS score_geo,
    cr_ge.score * 1 + cr_si.score * 3 + cr_cn.score * 3 + cr_wc.score * 3 + cr_nf.score * 5 AS score_total
FROM
    query_param qp, crit_geo cr_ge
INNER JOIN
    crit_size cr_si ON cr_si.id_internal = cr_ge.id_internal
INNER JOIN
    crit_naf cr_nf ON cr_nf.id_internal = cr_ge.id_internal
INNER JOIN
    crit_welcome cr_wc ON cr_wc.id_internal = cr_ge.id_internal
INNER JOIN
    crit_contact cr_cn ON cr_cn.id_internal = cr_ge.id_internal
INNER JOIN
    entreprises e ON e.id_internal = cr_ge.id_internal
LEFT JOIN
    naf ON e.naf = naf.sous_classe_a_732
ORDER BY score_total DESC, distance ASC
LIMIT 100
"""