# Extract stats from sirene enterprise database
### create a database with relevant content from sirene / insee
Current database structure is as follows:
```sql
+--------------------+--------------------------+
| Column             | Type                     |
|--------------------+--------------------------+
| id_internal        | integer                  |
| nom                | text                     |
| enseigne           | text                     |
| enseignes          | text[]                   |
| siret              | character varying(14)    |
| naf                | character varying(5)     |
| addr               | text[]                   |
| taille             | company_size             |
| pmsmp_interest     | boolean                  |
| pmsmp_count_recent | integer                  |
| rating_us          | rating                   |
| comments           | text                     |
| source             | text                     |
| import_tag         | text                     |
| flags              | text[]                   |
| date_created       | timestamp with time zone |
| date_updated       | timestamp with time zone |
| label              | text                     |
| numero             | character varying(10)    |
| rue                | character varying(128)   |
| quartier           | character varying(128)   |
| commune            | character varying(128)   |
| postal_code        | character varying(10)    |
| commune_code       | character varying(10)    |
| region             | character varying(128)   |
| departement        | character varying(128)   |
| siege              | boolean                  |
| lat                | numeric                  |
| lon                | numeric                  |
| phone_official_1   | character varying(32)    |
| phone_official_2   | character varying(32)    |
| email_official     | character varying(64)    |
| contact_1_name     | character varying(64)    |
| contact_1_role     | character varying(64)    |
| contact_1_mail     | character varying(64)    |
| contact_1_phone    | character varying(32)    |
| contact_2_name     | character varying(64)    |
| contact_2_role     | character varying(64)    |
| contact_2_mail     | character varying(64)    |
| contact_2_phone    | character varying(32)    |
+--------------------+--------------------------+
```

### add notebook user
Notebook uses a specific read-only user, "jupyter"
```sql
CREATE USER jupyter WITH PASSWORD 'jupyter';
GRANT CONNECT ON DATABASE andi TO jupyter;
GRANT SELECT ON ALL TABLES IN SCHEMA public TO jupyter;
```

In [1]:
# Connect to database
import psycopg2
import psycopg2.extras
connection = psycopg2.connect(dsn="postgres://jupyter:jupyter@localhost:5432/andi")

with connection.cursor() as cur:
    cur.execute("SELECT COUNT(*) FROM entreprises")
    res = cur.fetchone()[0]
    
print(f'Connected to database, {res} records found')

Connected to database, 6199615 records found

In [27]:
# Read ressource CSV's
import pandas as pd

naf_labels = pd.read_csv('../ressources/nomenclature_naf.csv', delimiter=';')
naf_labels.columns = ['naf', 'label', 'label_65', 'label_40']
naf_labels.set_index('naf')
naf_labels

,naf,label,label_65,label_40
0,1020Z,"Transformation et conservation de poisson, de ...","Transform. & conserv. poisson, crustacés & mol...","Transf. & conserv. poisson, crust., etc."
1,812,"Exploitation de gravières et sablières, extrac...","Exploit gravieres & sablieres, extraction argi...","Exploit. gravière & sabl., extr. argile"
2,1610B,Imprégnation du bois,Imprégnation du bois,Imprégnation du bois
3,0910Z,Activités de soutien à l'extraction d'hydrocar...,Activités de soutien à l'extraction d'hydrocar...,Act. de soutien à l'extr. hydrocarbures
4,7420Z,Activités photographiques,Activités photographiques,Activités photographiques
...,...,...,...,...
1702,2051,Fabrication de produits explosifs,Fabrication de produits explosifs,Fabrication de produits explosifs
1703,1431,Fabrication d'articles chaussants à mailles,Fabrication d'articles chaussants à mailles,Fabric. d'articles chaussants à mailles
1704,9525,Réparation d'articles d'horlogerie et de bijou...,Réparation d'articles d'horlogerie et de bijou...,Répar.articles horlogerie & bijouterie
1705,71,Extraction de minerais de fer,Extraction de minerais de fer,Extraction de minerais de fer
1706,3211,Frappe de monnaie,Frappe de monnaie,Frappe de monnaie

In [29]:
# Extract stats about naf and entreprise size
import pandas.io.sql as sqlio
sql = """
SELECT naf, taille, COUNT(*) as count
FROM entreprises
GROUP BY naf, taille
"""
df = sqlio.read_sql_query(sql, connection)
df

        naf taille  count
0     6910Z    3-5   4514
1     2391Z   None      6
2     2434Z    3-5      1
3      5531      0      3
4     3213Z      0    436
...     ...    ...    ...
9398  4910Z    6-9    261
9399   132Z   None      4
9400   454H   None     63
9401   232Z      0     65
9402  4726Z    1-2   2889

[9403 rows x 3 columns]

In [38]:
df2 = df[['naf', 'count']]
df3 = df2.groupby(['naf']).sum().sort_values(by=['count'], ascending=False)
df3

TypeError: 'DataFrame' object is not callable

In [46]:
df4 = df3.join(naf_labels.set_index('naf')).dropna().sort_values(by=['count'], ascending=False)
df4.columns = ['nombre', 'label', 'label_40', 'label_65']


with pd.option_context(
        'display.max_rows', None,
        'display.max_columns', None,
        'display.max_colwidth', 60):
    print(df4[['nombre', 'label']].head(100))

       nombre                                                        label
naf
5610A  168338                                  Restauration traditionnelle
4399C  122744     Travaux de maçonnerie générale et gros œuvre de bâtiment
5610C  101098                                  Restauration de type rapide
9499Z   95264    Autres organisations fonctionnant par adhésion volontaire
7022Z   88470      Conseil pour les affaires et autres conseils de gestion
4771Z   81927       Commerce de détail d'habillement en magasin spécialisé
9602A   75001                                                     Coiffure
8110Z   73316             Activités combinées de soutien lié aux bâtiments
4334Z   61676                              Travaux de peinture et vitrerie
4321A   61097           Travaux d'installation électrique dans tous locaux
7112B   55964                                Ingénierie, études techniques
4520A   55400      Entretien et réparation de véhicules automobiles légers
1071C   54051                        Boulangerie et boulangerie-pâtisserie
6831Z   53858                                         Agences immobilières
6420Z   50587                               Activités des sociétés holding
9312Z   48791                                 Activités de clubs de sports
5630Z   47878                                           Débits de boissons
9001Z   47280                                     Arts du spectacle vivant
4332A   43317                            Travaux de menuiserie bois et PVC
6910Z   42223                                         Activités juridiques
8411Z   40011                             Administration publique générale
4120A   39565                        Construction de maisons individuelles
4322A   38268        Travaux d'installation d'eau et de gaz en tous locaux
6202A   38115               Conseil en systèmes et logiciels informatiques
6920Z   37269                                         Activités comptables
7010Z   37218                                 Activités des sièges sociaux
4941B   36631                     Transports routiers de fret de proximité
4511Z   35927      Commerce de voitures et de véhicules automobiles légers
4778C   35382                Autres commerces de détail spécialisés divers
6622Z   34956               Activités des agents et courtiers d'assurances
8621Z   34633                           Activité des médecins généralistes
8623Z   34632                                            Pratique dentaire
4773Z   34077  Commerce de détail de produits pharmaceutiques en magasi...
5510Z   33617                              Hôtels et hébergement similaire
6419Z   33351                            Autres intermédiations monétaires
6820B   31283           Location de terrains et d'autres biens immobiliers
8121Z   28697                              Nettoyage courant des bâtiments
4322B   28643  Travaux d'installation d'équipements thermiques et de cl...
4331Z   28130                                         Travaux de plâtrerie
8559A   27894                                 Formation continue d'adultes
4711B   27503                             Commerce d'alimentation générale
5310Z   27377  Activités de poste dans le cadre d'une obligation de ser...
4932Z   25766                            Transports de voyageurs par taxis
4333Z   25216                   Travaux de revêtement des sols et des murs
6201Z   23943                                   Programmation informatique
8899B   23664                       Action sociale sans hébergement n.c.a.
7311Z   23317                           Activités des agences de publicité
4722Z   22735  Commerce de détail de viandes et de produits à base de v...
7820Z   22639                  Activités des agences de travail temporaire
4941A   22475                     Transports routiers de fret interurbains
9602B   22386                                              Soins de beauté
8299Z   22056           Autres activités de soutien aux entreprises n.c.a.
7111Z   21800                                     Activités d'architecture
8219Z   20088  Photocopie, préparation de documents et autres activités...
4391B   20027                           Travaux de couverture par éléments
8130Z   19312                              Services d'aménagement paysager
4776Z   19227  Commerce de détail de fleurs, plantes, graines, engrais,...
8622C   18978                   Autres activités des médecins spécialistes
4778A   18756                                Commerces de détail d'optique
4690Z   18547  Commerce de gros (commerce interentreprises) non spécialisé
4332B   18401               Travaux de menuiserie métallique et serrurerie
4711D   18286                                                 Supermarchés
4673A   18248  Commerce de gros (commerce interentreprises) de bois et ...
4312A   18162    Travaux de terrassement courants et travaux préparatoires
4669B   18136  Commerce de gros (commerce interentreprises) de fournitu...
8010Z   17817                                 Activités de sécurité privée
4759A   17743                                Commerce de détail de meubles
4781Z   17483     Commerce de détail alimentaire sur éventaires et marchés
0121Z   17398                                          Culture de la vigne
8810A   16623                                              Aide à domicile
8690E   16615  Activités des professionnels de la rééducation, de l’app...
4772A   16225                           Commerce de détail de la chaussure
9329Z   16128                   Autres activités récréatives et de loisirs
4120B   15985                              Construction d'autres bâtiments
6619A   15876        Supports juridiques de gestion de patrimoine mobilier
4649Z   15698  Commerce de gros (commerce interentreprises) d'autres bi...
5629B   15301                       Autres services de restauration n.c.a.
6820A   15203                                        Location de logements
8553Z   14788                                  Enseignement de la conduite
0111Z   14715  Culture de céréales (à l'exception du riz), de légumineu...
4759B   13958             Commerce de détail d'autres équipements du foyer
6512Z   13917                                            Autres assurances
4729Z   13726  Autres commerces de détail alimentaires en magasin spéci...
8891A   13717                                    Accueil de jeunes enfants
4764Z   13652  Commerce de détail d'articles de sport en magasin spécia...
4642Z   13401  Commerce de gros (commerce interentreprises) d'habilleme...
9609Z   13113                            Autres services personnels n.c.a.
6832A   12921       Administration d'immeubles et autres biens immobiliers
4762Z   12846  Commerce de détail de journaux et papeterie en magasin s...
4391A   11686                                         Travaux de charpente
8559B   11678                                         Autres enseignements
7911Z   11485                              Activités des agences de voyage
8690D   11295                 Activités des infirmiers et des sages-femmes
5629A   10979                         Restauration collective sous contrat
5520Z   10775  Hébergement touristique et autre hébergement de courte d...
8690A   10472                                                   Ambulances
7120B   10418                   Analyses, essais et inspections techniques
4775Z   10367  Commerce de détail de parfumerie et de produits de beaut...
7490B   10281  Activités spécialisées, scientifiques et techniques dive...
8122Z   10150  Autres activités de nettoyage des bâtiments et nettoyage...